.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);

  .logo {
    height: 40px;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;

    .header-icons {
      font-size: 22px;
      display: flex;

      .header-icon {
        color: gray;
        padding-right: 12px;
        cursor: pointer;
      }
    }

    .name {
      padding-right: 10px;
    }

    .avatar {
      width: 35px;
      height: 35px;

      border-radius: 50%;

      border: 3px solid transparent;
      background: linear-gradient(270deg, #f44336, #23bbad) border-box;

      .initial {
        width: 33px;
        height: 33px;
        display: flex;
        color: white;
        font-size: 17px;
        font-weight: 500;
        border-radius: 50%;
        align-items: center;
        border: 2px solid white;
        background-color: #f79b14;
        justify-content: center;
      }
    }
  }
}
