.full-screen-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607d8b;

  img {
    width: 300px;
    border-radius: 50%;
  }
}
