.business-item {
  display: flex;
  cursor: pointer;
  margin-top: 7px;
  border-radius: 7px;
  padding: 10px 15px 15px 5px;

  .left {
    padding-right: 10px;

    .initial {
      width: 27px;
      height: 27px;
      display: flex;
      color: white;
      font-size: 13px;
      font-weight: 500;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
  }

  .business-name {
    font-size: 13px;
  }

  &:hover {
    background-color: aliceblue;
  }

  .business-tags {
    display: flex;
    padding-top: 7px;

    .tag {
      font-size: 10px;
      padding: 2px 5px;
      margin-right: 5px;
      border-radius: 5px;
      background: aliceblue;
      border: 1px solid #2196f3;
    }
  }
}
