.businesses {
  overflow: auto;
  display: flex;
  flex: 1;

  .businesses-sidebar {
    width: 350px;
    overflow: auto;
    display: flex;
    padding: 10px 0px 0px 10px;
    flex-direction: column;
    box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.3);

    .create-form {
      display: flex;
      padding: 10px;

      input {
        flex: 1 1;
        outline: none;
        padding: 5px;
        border: 1px solid #80808094;
        border-radius: 5px;
      }

      button {
        background: #2196f3;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        padding: 0px 10px;
        border-radius: 5px;
      }
    }

    .business-list {
      overflow: auto;
      padding-right: 10px;
    }
  }
}
